@{
    ViewBag.Title = "Home";
}

<div class="row">

    <h3>Actions</h3>
    <ul>
        <li>@Html.ActionLink("List Users", "ListUsers")</li>
        <li>@Html.ActionLink("Add User", "AddUser")</li>
        <li>@Html.ActionLink("Add Role", "AddRole")</li>
        <li>@Html.ActionLink("Bulk Add Users", "BulkAdd")</li>
    </ul>

</div>